@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Animations */
.transition-fade{
  transition: all .2s ease-in-out;
}
.transition-getIn{
  animation: getIn .6s ease 0s 1 normal forwards;
}

@keyframes getIn {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

.icon-animation:hover > svg{
  transition: all .2s ease-in-out;
  transform: translateX(4px);
}
.icon-animation svg{
  transition: all .2s ease-in-out;
}

.preview-button:hover{
  transform: scale(1.035);
}

.me{
  filter: grayscale(100%);
}
.circle_contact-1{
  width: 220px;
  height: 220px;
  border: 1.4em solid #F3D335;
  border-radius: 100%;
  position: absolute;
}
.circle_contact-down, .circle_contact-down-2{
  width: 220px;
  height: 220px;
  opacity: .075;
  border: 1.4em solid #0d0d0d;
  border-radius: 100%;
  position: absolute;
  right: 52.5%;
}
.circle_contact-down-2{
  left: 52.5%;
}

@media only screen and (min-width : 640px){
  .circle_contact-1{
    width: 320px;
    height: 320px;
    border: 1.6em solid #F3D335;
  }
  .circle_contact-down, .circle_contact-down-2{
    width: 320px;
    height: 320px;
    border: 1.6em solid #0d0d0d;
  }
}

@media only screen and (min-width : 1536px){
  .circle_contact-1{
    width: 420px;
    height: 420px;
    border: 2em solid #F3D335;
  }
  .circle_contact-down, .circle_contact-down-2{
    width: 420px;
    height: 420px;
    border: 2em solid #0d0d0d;
  }
}
